services:
  postgresql:
    image: postgres:16
    container_name: astrokiddo-postgresql
    restart: unless-stopped
    environment:
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
    expose:
      - "5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h localhost -U $$SPRING_DATASOURCE_USERNAME" ]
      interval: 2s
      timeout: 5s
      retries: 15

  backend:
    build: .
    container_name: astrokiddo-backend
    expose:
      - "8091"
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      - SERVER_PORT=8091
      - CF_API_TOKEN=${CF_API_TOKEN}
      - CF_ACCOUNT_ID=${CF_ACCOUNT_ID}
      - CF_AI_PROVIDER=${CF_AI_PROVIDER}
      - CF_AI_VENDOR=${CF_AI_VENDOR}
      - CF_AI_MODEL=${CF_AI_MODEL}
      - CF_AI_BASE_URL=${CF_AI_BASE_URL}
      - CF_AI_ENABLED=${CF_AI_ENABLED}
      - CF_AI_MAX_VOCAB=${CF_AI_MAX_VOCAB}
      - CF_AI_TEMPERATURE=${CF_AI_TEMPERATURE}
      - APOD_BASE_URL=${APOD_BASE_URL}
      - IMAGES_BASE_URL=${IMAGES_BASE_URL}
      - NASA_API_KEY=${NASA_API_KEY}
    restart: unless-stopped
    networks:
      - ai_net

  frontend:
    build: angular-app
    container_name: astrokiddo-frontend
    depends_on:
      backend:
        condition: service_started
    expose:
      - "80"
    restart: unless-stopped
    networks:
      - ai_net

networks:
  ai_net:
    driver: bridge