services:
  postgresql:
    image: postgres:16
    container_name: astrokiddo-postgresql
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRESQL_DB_NAME}
      - POSTGRES_USER=${SPRING_R2DBC_USERNAME_PROD}
      - POSTGRES_PASSWORD=${SPRING_R2DBC_PASSWORD_PROD}
      - TZ=${APP_TIME_ZONE}
    volumes:
      - ./db:/var/lib/postgresql/data
    expose:
      - "5432"
    networks:
      - network

  backend:
    build: .
    container_name: astrokiddo-backend
    expose:
      - "8091"
    depends_on:
      postgresql:
        condition: service_started
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - APP_TIME_ZONE=${APP_TIME_ZONE}
      - SPRING_R2DBC_FLYWAY_URL_PROD=${SPRING_R2DBC_FLYWAY_URL_PROD}
      - SPRING_R2DBC_URL_PROD=${SPRING_R2DBC_URL_PROD}
      - SPRING_R2DBC_USERNAME_PROD=${SPRING_R2DBC_USERNAME_PROD}
      - SPRING_R2DBC_PASSWORD_PROD=${SPRING_R2DBC_PASSWORD_PROD}
      - SPRING_R2DBC_FLYWAY_URL_DEV=${SPRING_R2DBC_FLYWAY_URL_DEV}
      - SPRING_R2DBC_URL_DEV=${SPRING_R2DBC_URL_DEV}
      - SPRING_R2DBC_USERNAME_DEV=${SPRING_R2DBC_USERNAME_DEV}
      - SPRING_R2DBC_PASSWORD_DEV=${SPRING_R2DBC_PASSWORD_DEV}
      - CF_API_TOKEN=${CF_API_TOKEN}
      - CF_ACCOUNT_ID=${CF_ACCOUNT_ID}
      - CF_AI_PROVIDER=${CF_AI_PROVIDER}
      - CF_AI_VENDOR=${CF_AI_VENDOR}
      - CF_AI_MODEL=${CF_AI_MODEL}
      - CF_AI_BASE_URL=${CF_AI_BASE_URL}
      - CF_AI_ENABLED=${CF_AI_ENABLED}
      - CF_AI_MAX_VOCAB=${CF_AI_MAX_VOCAB}
      - CF_AI_TEMPERATURE=${CF_AI_TEMPERATURE}
      - CF_TTS_VENDOR=${CF_TTS_VENDOR}
      - CF_TTS_MODEL=${CF_TTS_MODEL}
      - R2_ACCOUNT_ID=${R2_ACCOUNT_ID}
      - R2_ACCESS_KEY=${R2_ACCESS_KEY}
      - R2_SECRET_KEY=${R2_SECRET_KEY}
      - R2_BUCKET=${R2_BUCKET}
      - R2_PUBLIC_BASE_URL=${R2_PUBLIC_BASE_URL}
      - APOD_BASE_URL=${APOD_BASE_URL}
      - IMAGES_BASE_URL=${IMAGES_BASE_URL}
      - NASA_API_KEY=${NASA_API_KEY}
    restart: unless-stopped
    networks:
      - network

  frontend:
    build: angular-app
    container_name: astrokiddo-frontend
    depends_on:
      backend:
        condition: service_started
    expose:
      - "80"
    restart: unless-stopped
    networks:
      - network

networks:
  network:
    driver: bridge